.btn {
    background-color: maroon;
    color: whitesmoke;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 24px;
    font-family: sans-serif;
    border: 1px solid maroon;
}

.desc {
    color: maroon;
    font-size: 14px;
}